<h1>Closed issues</h1>

{{#if viewData.issues.length}}
    {{#each viewData.issues}}
      <section>
        <img src="{{avatar}}" alt="User Avatar" height="50"></img>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <button id="openButton"><a href="./{{iid}}/open/">Open</a></button>
      </section>
    {{/each}}
{{else}}
    <p>No closed issues...</p>
{{/if}}